<h1>Log In</h1>
<div class="container" id="login_container">
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
  <div class="field form-group">
    <%= label_tag :email, nil, class: "col-lg-3 control-label" %>
    <%= text_field_tag :email, params[:email], placeholder: 'Email', class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= label_tag :password, nil, class: "col-lg-3 control-label" %>
    <%= password_field_tag :password, '', placeholder: "Password", class: "form-control" %>
  </div>
  <div class="actions form-group">
    <div class="col-lg-offset-1 col-lg-6">
      No account?
      <%= link_to "Sign up", new_user_path %>
    </div>
    <%= submit_tag "Log In", class: "col-lg-offset-1 col-lg-2 btn btn-primary btn-sm" %>
  </div>
<% end %>
</div>
