<h1 id= "foods_title"><%= current_user.name %>'s Food Record of <%= @record.date_create %></h1>
<div class="container" id="portions_container">
  <%= render partial: 'records/portionChart'%>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Category</th>
      <th>Calories</th>
      <th>Fat</th>
      <th>Protein</th>
    </tr>
    <% @portions.each do |portion| %>
      <tr portion-id="<%= portion.id %>" class="portion">
        <td class="food_name_cells"><%= portion.food.name %></td>
        <td class="weight_cells"><%= portion.weight %>g</td>
        <td><%= portion.food.category %></td>
        <td class="calorie_cells"><%= portion.food.calorie %> kcal</td>
        <td class="fat_cells"><%= portion.food.fat %>g</td>
        <td class="protein_cells"><%= portion.food.protein %>g</td>
      </tr>
    <% end %>
  </table>
  <div id="buttons_record">
    <div id="end_group">
      <a class= "btn btn-success" type= "button" id="add_portion_btn" data-toggle="modal" data-target="#addPortionModal">Add</a>
      <%= link_to "Back", records_path, {id: "back_record" ,class: "btn btn-danger"}%>
      <%= link_to "Delete", record_path(@record), method: :delete, class: "btn btn-warning",id: "delete_record", data: { confirm: "Are you sure you want to remove this record?"} %>
    </div>
  </div>
</div>

<%= render partial: 'portions/addPortion', locals: {record: @record} %>


<script>
$('.portion').on('click', deleteRowPortion);
function deleteRowPortion() {
  var ask = window.confirm("Are you sure you want to delete this portion?");
  var $portionId = $(this).closest('tr').attr('portion-id');
  if (ask) {
    window.location = `/remove_portion/${$portionId}`;
  }
}
//Getting the data in DOM!
var food_name_array = [];
var weight_array = [];
var calorie_array = [];
var fat_array = [];
var protein_array = [];
$('.food_name_cells').each(function() {food_name_array.push($(this).html())});
$('.weight_cells').each(function() {weight_array.push(parseInt($(this).html()))});
$('.calorie_cells').each(function() {calorie_array.push(parseInt($(this).html()))});
$('.fat_cells').each(function() {fat_array.push(parseFloat($(this).html()))});
$('.protein_cells').each(function() {protein_array.push(parseFloat($(this).html()))});
  console.log(food_name_array);
  console.log(weight_array);
  console.log(calorie_array);
  console.log(fat_array);
  console.log(protein_array);
</script>
