<h1 id= "foods_title"><%= current_user.name %>'s Food Record of <%= @record.date_create %></h1>
<div class="container" id="records_container">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Category</th>
      <th>Calories</th>
      <th>Fat</th>
      <th>Protein</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <th><%= food.name %></th>
        <th></th>
        <th><%= food.category %></th>
        <th><%= food.calorie %> kcal</th>
        <th><%= food.fat %>g</th>
        <th><%= food.protein %>g</th>
      </tr>
    <% end %>
  </table>
</div>
