<ul class="nav nav-pills" id="main_nav">
  <li role="presentation">
    <% if current_user %>
    <a id="welc_mess">Welcome back, <%= current_user.name %></a>
    <% end %>
  </li>
  <li role="presentation"><%= link_to "Home", root_path %></li>
  <li role="presentation">
    <% if current_user %>
    <%= link_to 'Profile', records_path%>
    <% else %>
    <%= link_to "Sign up", new_user_path %>
    <% end %>
  </li>
  <li role="presentation">
    <% if current_user %>
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
    <% else %>
    <a type= "button" id="login_btn" data-toggle="modal" data-target="#loginModal">Login</a>
    <% end %>
  </li>
</ul>
<%= render "layouts/login" %>
